data/raw/
data/mapped/
data/mapped_test/
data/references/mm39/*.fa
data/references/mm39/*.fa.*
data/references/t2t/*.fna
data/references/t2t/*.fna.*
data/references/t2t/clean_chroms/
data/references/t2t/chroms_links/
data/references/mm39/chroms_links/
data/references/mouse_y_queries.fa
*.root
*.cnp
*.cpn
*ratio.txt
*.cnr
*.cnn
tmp/
scripts/logs/
tools/
